In [16]:
import urllib.request

url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
week_nums = [210109, 210116, 210123, 210130, 210206, 210213, 210220, 210227, 210306, 210313, 210320,
210327, 210403, 210410, 210417]

for week_num in week_nums:
    urllib.request.urlretrieve(f"http://web.mta.info/developers/data/nyct/turnstile/turnstile_{week_num}.txt",
                               f"data/turnstile_{week_num}.txt")

In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("sqlite:///mta.db")
all_data = pd.read_sql('SELECT * FROM mta_data;', engine)
all_data2 = pd.read_sql('SELECT * FROM NYC_Covid;', engine)

In [3]:
all_data2.head()

,date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,PROBABLE_DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,SI_PROBABLE_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_PROBABLE_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,SI_ALL_DEATH_COUNT_7DAY_AVG,INCOMPLETE
0,01/16/2021,3479,927,362,66,3,4713,5846,388,63,...,59,23,2,0,382,466,28,5,5,0
1,01/17/2021,2906,1045,332,56,1,4672,5812,392,64,...,65,23,2,0,370,452,28,4,5,0
2,01/18/2021,4631,1327,435,74,5,4492,5628,396,66,...,116,29,6,1,357,443,28,5,5,0
3,01/19/2021,5134,1350,384,81,5,4480,5639,397,67,...,84,21,6,1,346,429,27,5,6,0
4,01/20/2021,4906,1275,360,74,4,4443,5610,387,68,...,75,18,7,0,342,423,25,5,6,0

What stations experience the most traffic during standard commute hours? (7-11) (15-19)

Question: We want to better allocate our employees during rush hour/standard commute hours, what stations represent the highest priority during the rush hour time frame? 

How are we measuring traffic? Is there a difference between exits and entrances? Does the # of lines impact traffic?

Do Covid Cases in NYC have a relationship (given 2 week lag) with ridership?

In [10]:
all_data.describe(include = 'all')

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
count,2507637,2507637,2507637,2507637,2507637,2507637,2507637,2507637,2507637,2.507637e+06,2.507637e+06
unique,729,467,216,374,128,6,92,58698,2,NaN,NaN
top,PTH05,R549,00-00-00,34 ST-PENN STA,1,IRT,11/06/2016,00:00:00,REGULAR,NaN,NaN
freq,13435,32078,251118,54115,276584,928134,29826,205386,2499022,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.573687e+07,2.874638e+07
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.956922e+08,1.770263e+08
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.606170e+05,2.887420e+05
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.642026e+06,1.531695e+06
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.624502e+06,4.702948e+06
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.147374e+09,2.087387e+09